{%extends 'base.html'%} 
{% load bootstrap4 %}
{%block content%}
<div class="container">

  <div class="row">
    {% if picture%}
      <h2>Found {{ picture|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 picture for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if picture %}
    {% for pic in picture %}
      <div class="col-sm-6 col-md-3">
          <h1>{{pic.name}}</h1>
      </div>

     <!--Display news Article images  -->
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{pic.profile_pic.url}}" class="img-responsive" alt="Image">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}